@model TallinnaRakenduslikKolledz.Models.Delinquent

@{
	ViewData["Title"] = "Lisa uus korrarikkuja";
}

<h1>Lisa uus korrarikkuja</h1>
<h4>Sisesta info:</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			
			<div>

			</div>

		</form>
	</div>
</div>